*{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 20px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

h1{
    background-color: cadetblue;
    padding: 10px;
}

a{
    margin: 40px;
    text-decoration: none;
    background-color: darkgreen;
    padding: 10px;
    color: white;
}

