<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All My Friends</h1>

    <a href="/add_user">Add User</a>

    {% for user in all_users %}
    <h1>User</h1>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <h3>Actions</h3>
    <a href="/show/{{user.id}}">Show</a>
    <a href="/edit/{{user.id}}">Edit</a>
    <a href="/delete/{{user.id}}">Delete</a>
    <hr>
    {% endfor %}
</body>
</html>