<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Great Number Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<style>
    .high {
        display: {{high}};
    }

    .low {
        display: {{low}};
    }

    .correct {
        display: {{correct}};
    }
</style>

<body>
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess!</p>

    <div class="high">
        <p class="text">Too High!</p>
    </div>
    <div class="low">
        <p class="text">Too Low!</p>
    </div>
    <div class="correct">
        <p class="text">Correct!</p>
    </div>

    <form action="/play" method="post">
        <input type="number" name="guess">
        <button type="submit">Submit!</button>
    </form>
    <a href="/clear">Reset</a>
</body>

</html>