<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-top: 200px;
    }


    div {
        width: 100px;
        height: 100px;
        background-color: {{color}};
        border-radius: 10px;
        float:left;
        margin: 10px;
    }
</style>


<body>
    <h1>Welcome!</h1>
    <main>
        {% for x in range(0,num): %}
            <div></div>
        {% endfor %}
    </main>
</body>

</html>