<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <form action="/process" method="post">
        {% for messages in get_flashed_messages() %}
            <p>{{messages}}</p>
        {% endfor %}
        <div>
            <label for="name">Your Name:</label>
            <input type="text" name="name">
        </div>
        <div>

            <label for="location">Dojo Location:</label>
            <select name="location" id="location">
                <option value ="empty">Pick one...</option>
                <option value="Online/Remote">Online/Remote</option>
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
            </select>
        </div>
        <div>
            <label for="language">Favorite Language:</label>
            <select name="language" id="language">
                <option value="empty">Pick one...</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="HTML">HTML</option>
            </select>
        </div>
        <div class="comments">
            <label for="comment">Comments (optional):</label>
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        </div>
        <input type="hidden" name="id">
        <button type="submit">Submit!</button>
    </form>
</body>

</html>