<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>All Dojos</h1>
    <h3>New Dojo:</h3>
    <form action="/create_dojo" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <input type="submit" value="Add Dojo">
    </form>

    <a href="/new_ninja">Add New Ninja</a>

    {% for dojo in all_dojos %}
    <h2><a href="/show/{{dojo.id}}">{{dojo.name}}</a></h2>
    <hr>
    {% endfor %}
</body>
</html>